<a href="https://colab.research.google.com/github/shravanimmy/stock-project-group/blob/main/stock_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# URLs for confirmed cases and deaths
confirmed_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
deaths_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

# Read data into dataframes
confirmed_cases_df = pd.read_csv(confirmed_cases_url)
deaths_df = pd.read_csv(deaths_url)

# Drop unnecessary columns (Latitude, Longitude, etc.)
confirmed_cases_df = confirmed_cases_df.drop(columns=['Lat', 'Long', 'Province/State'])
deaths_df = deaths_df.drop(columns=['Lat', 'Long', 'Province/State'])

# Aggregate and sum on a global level
global_confirmed_cases = confirmed_cases_df.sum(axis=0)[3:]  # Starting from the 4th column (dates)
global_deaths = deaths_df.sum(axis=0)[3:]  # Starting from the 4th column (dates)

# Create a new dataframe
global_data = pd.DataFrame({
    'Date': global_confirmed_cases.index,
    'Global_Confirmed_Cases': global_confirmed_cases.values,
    'Global_Deaths': global_deaths.values
})

# Display the resulting dataframe
#print(global_data)
global_data

         Date Global_Confirmed_Cases Global_Deaths
0     1/24/20                    944            26
1     1/25/20                   1437            42
2     1/26/20                   2120            56
3     1/27/20                   2929            82
4     1/28/20                   5580           131
...       ...                    ...           ...
1136   3/5/23              676024901       6877749
1137   3/6/23              676082941       6878115
1138   3/7/23              676213378       6879038
1139   3/8/23              676392824       6880483
1140   3/9/23              676570149       6881802

[1141 rows x 3 columns]